ci:
  autofix_commit_msg: "ci(pre-commit): auto fix code"
  autofix_prs: true
  autoupdate_commit_msg: "ci(pre-commit): update pre-commit dependencies"
  autoupdate_schedule: monthly
default_install_hook_types: [pre-commit]
default_language_version:
  python: python3.12
default_stages: [pre-commit]
minimum_pre_commit_version: 4.0.0
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.5
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-illegal-windows-names
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: [--fix=auto]
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
